body {
	min-height:14000px ;
  margin:0;
  font-family:"Brandon Grotesque";
  color: white;
  font-size:1.5rem;
}

.menu-accueil a{
  color: #010724;
  text-decoration:none;
  padding:1rem;
  display: inline-block;
  cursor: pointer;
  &:hover{
    border-bottom:1px solid #010724;
  }
}
ul{
  list-style-type: none;
  padding:0;
  text-align: center;
}

h1, h2{
  font-family:"Brandon Grotesque";
  color: white;
  text-align: center;
  text-transform: uppercase;
}

h1{
  font-size:2.2rem;
  margin-top:3rem;
  margin-bottom:0rem;
  @media (min-width:768px) {
    font-size:3.5rem;
  }
}
h2{
  font-size:2rem;
  margin-top:0rem;
  @media (min-width:768px) {
    font-size:2.5rem;
  }
}

.display-none {
	display: none;
}

.scroll {
	width: 100vw;
	height: 2000px;
}

.contenu{
  display: flex;
  justify-content:center;
  align-items:center;
}

.elements {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	perspective: 1000px;
  display: flex;
  justify-content: center;
}

#titre {
	width: 100%;
	height: 100%;
	//color: rgb(2, 200, 242);
	/*background-color: white;
	-webkit-mask: url('../img/img-hero1.svg') no-repeat 50% 50%;
	-webkit-mask-size: cover;*/
	transition: scale ease;
	will-change:transform;
	shape-rendering: geometricPrecision;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 500;
    
    img{
        object-fit: cover;
        height: 100vh;
        width: 100vw;
    }
}
   
.contenu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	//background-position: 50% 50%;
	background-repeat: no-repeat;
	transition: opacity 1500ms ease;
    background-image: url('../img/illustration.png');
	background-size: cover;
    background-position: bottom;
}

.artiste{
  display: inline-block;
  position: absolute;
  will-change:transform;
  // TODO : box shadow jaune
  // TODO : alterner rose/bleu/vert
  // TODO : placer à endroit différent

  span{
    text-transform: uppercase;
    font-weight:bold;
    letter-spacing: 1px;
    text-shadow: 1px -1px 0px #f9dc6e;
    white-space: nowrap;
    font-size:1rem;
    padding:1rem;
    display: block;

    @media (min-width:768px){
      font-size:1.5rem;
    }
  }

  &:nth-child(3n+2){
    color: #c8424b; //rose
    left: 35%;
    top: 45%;
    span{
      transform: rotate(-12deg);
    }
  }
  &:nth-child(3n+1){
    color: #0565a7; //blue
    top: 52%;
    left:45%;
    span{
      transform: rotate(5deg);
    }
  }
  &:nth-child(3n+3){
    color: #226a49; //vert
    right: 40%;
    top: 40%;
    span{
      transform: rotate(15deg);
    }
  }

}

.hide {
	opacity: 1;
}


.couche{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    transform-origin: center;
    bottom: 0;
    top: 0;
    margin: auto;
  will-change:transform;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    min-width: 100%;
    height: 100%;
  }
    
    $elements: 25;
    @for $i from 0 to $elements {
      &:nth-child(#{$i}) {
         z-index: calc(200 - #{$i});

        &+.artistes .artiste{
          z-index: calc(199 - #{$i});
        }
      }
    }
}

.show-desktop{
  display: none;
  @media (min-width:1024px) {
    display: block;
  }
}
.hide-desktop{
  display: block;
  @media (min-width:1024px) {
    display: none;
  }
}